/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

/* Common Style */
body {
    font-family: 'Roboto', sans-serif;
}

h1{
    font-family: 'Roboto Mono', monospace;
}

/* Error message display none */
#error-message, #saving-error-message, #string-error {
    display: none;
}

/* For Alert Clost Button */
.fa-solid {
    cursor: pointer;
}
